/bin
./out
.classpath
.DS_Store
/.settings
.project

game loops.iml
.idea/compiler.xml
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/scopes/scope_settings.xml
out/*

